<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>添加广告位</title>
    {include file="public/common_css" /}
</head>
<body class="sticky-header">
<section>
    {include file="public/left" /}
    <!-- main content start-->
    <div class="main-content">
        {include file="public/header" /}
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        添加广告位
                    </header>
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="commentForm"  novalidate="novalidate">
                                <div class="form-group ">
                                    <label class="control-label col-lg-2">Banner名称:</label>
                                    <div class="col-lg-3">
                                        <input class="form-control name" name="name" type="text" required="">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-lg-2">Banner描述:</label>
                                    <div class="col-lg-3">
                                        <input class="form-control description" type="text" name="description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary addBanner" type="button">保存</button>
                                    </div>
                                </div>
                                <div class="login-wrap error-tips hide"></div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {include file="public/footer" /}
    </div>
    <!-- main content end-->
</section>
{include file="public/common_js" /}
<script src="__PUBLIC__admin/js/banner.js"></script>
</body>
</html>
